#container {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
    	background-color: #D0E4F5;
	background-image: url("https://github.com/KevinCondon/kevincondon.github.io/blob/master/PrimeAcedemyLogo.png");
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: 100% 0%;
	background-size: 15%;

	text-align: left;
}

#content-professional {
	font-size: 42px;
   text-align:center;
   margin-bottom:25px;
}

#content-description {
   margin-top:25px;
   text-align:left;
   margin-bottom:25px;
}

h1 {
	font-size: 64px;
	margin-bottom: -25px;
}

h2 {
	font-size: 18px;
	margin-bottom: -6px;
}

h4 {
	font-size: 20px;
    margin:auto;
}

li {
	font-size: 18px;
	text-align: left;
}

p {
    font-size: 18px;
}

ul {   
   margin-bottom:auto;
   margin-top:25px;
 }
}
